body {
  font-family: Arial;
  margin: 20px;
  background: #f4f4f4;
}

button {
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.book {
  background: white;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.book-header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #eaeaea;
  cursor: pointer;
}

.book-header:hover {
  background: #ddd;
}

.chapters {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
}

.chapters.open {
  display: flex;
}

label {
  background: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}
